/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'vars';

$margin-width: 1000px;
$footer-height: 200px;

.rounded {
    border-radius: $rounding;
}

.upload {
    position: relative;
    left: 20px; top: 2px;
    outline: none;
}
.upload::-webkit-file-upload-button { visibility: hidden; }
.upload::before {
    position: relative;
    right: 20px; bottom: 2px;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999; border-radius: $rounding;
    padding: 6px; font-size: 10pt;
}
.upload:hover::before { border-color: #555; }
.upload:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

* {
    font-family: "Arial", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#notice { color: gray; }
#alert  { color: orange; }


// sticky footer
html, body {
    height: 100%;
}

#sans-footer {
    min-height: 100%;
}

#content {
    padding-bottom: $footer-height;
}

footer {
    clear: both;
    position: relative;
    height: $footer-height;
    margin-top: -$footer-height;

    $side-padding: 20px;
    padding: 0px $side-padding;
    width: $margin-width - 2 * $side-padding;
    background: $secondary-color;
}
////////////////

body {
    width: $margin-width;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 90px;
}

#logo {
    text-decoration: none;
    float: left;
    font-size: 70px;
    color: $secondary-color;
}

#search {
    float: left;
    margin: 20px 0px 0px 30px;
    font-size: 30px;
    width: 550px;
    border: 1px solid gray;
}

.button {
    @include transition(background);
    text-decoration: none;
    float: left;
    padding: 5px 10px;
    color: white;
    background: $secondary-color;
}
.button:hover {
    background: $primary-color;
}
.selected {
    color: $primary-color;
    pointer-events: none;
    cursor: default;
}

#login {
    float: right;
    position: relative;
    top: 24px;
    overflow: hidden;
}

#contact {
    @include transition(background);
    text-decoration: none;
    margin-top: 20px;
    font-size: 18px;
    float: left;
    padding: 7px 12px;
    color: white;
    background: $tertiary-color;
}
#contact:hover {
    background: #09f;
}

#copyright, #privacy, #terms {
    clear: both;
    float: left;
    color: $primary-color;
    margin-top: 10px;
}
#privacy, #terms {
    font-size: 12px;
    margin-top: 5px;
}

#social-buttons {
    clear: both;
    float: right;
    margin-top: 35px;
}
.social {
    width: 24px;
    margin-left: 5px;
}