/* 50:9 aspect ratio */
.ratio-banner { width: 100%; position: relative; }
.ratio-banner:before { padding-top: 18%; content: ""; display: block; }

/* 1:1 aspect ratio */
.ratio-icon { width: 100%; position: relative; }
.ratio-icon:before { padding-top: 100%; content: ""; display: block; }

/* class for <img> in div with an above ratio */
.framed {
    position:  absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 100%; height: 100%;
}