@import 'vars';

.db-button {
    @include transition(color);
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    margin-bottom: 5px;
    color: white;
    background: $secondary-color;
}
.db-button:hover {
    color: orange;
}

#upload-button {
    font-size: 20px;
    padding: 15px 33px;
}
#upload-button:hover { color: MediumOrchid; }

// forms
form[action="/dashboard/save"] *, form[action="/prints/new"] * {
    display: block;
    margin-bottom: 5px;
}

form[action="/dashboard/save"] {
    #banner::before { content: 'upload banner'; }
    #icon::before   { content: 'upload icon';   }
}

#more-buttons {
    margin-left: 30px;
}

form[action="/prints/new"] {
    width: 600px;
    #stl::before { content: 'upload STL file'; }
    #image::before { content: 'upload image'; }
    #image1::before { content: 'upload image'; }
    #image2::before { content: 'upload image'; }
    #image3::before { content: 'upload image'; }
    #image4::before { content: 'upload image'; }
    #image5::before { content: 'upload image'; }

    p {
        font-size: 18px;
        color: DarkOrchid;
    }

    #name, #price, #resolution, #tolerance {
        border: 1px solid #aaa;
        padding: 0px 5px;
        height: 30px;
    }

}

#resolution, #tolerance {
    width: 110px;
}

#c_description, #p_description {
    resize: none;
    height: 100px;
    width: 300px;
    padding: 5px 5px;
}

#x, #y, #z {
    border: 1px solid #aaa;
    padding: 0px 5px;
    height: 30px;
    width: 50px;
    margin-right: 5px;
    float: left;
}

#materials, #printers {
    height: 62px;
    width: 150px;
}

input[type='radio'] { float: left; }
.label {
    position: relative;
    bottom: 2px;
    left: 5px;
}